# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
settings.local.php

# Ignore Mac files
.DS_Store

# Ignore IDE files
.idea

# Ignore database dumps
*.sql
*.sql.gz
