/* $Id$ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0;
    padding: 0px;
	background-color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
  }

p {
	margin:10px 0;
}

  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
	  background-color: #FFF;
	  height: 100px;
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
	  background-color: #FFF;
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
	  padding: 10px;
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
	clear: both;
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

.page_title h1, h1#page-title {
	 font-size: 26px;
	 border-bottom: solid 6px gray;
  }
  
 h1#page-title span {
	 color: #939A31;
 }
 
 .front h1#page-title {
	 display:none;
 }

  
  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0 0 10px 0;
	color: #4DACD3;
	padding-top: .2em;
  }
  
 h6.site-slogan {
	font-size: 19px;
	font-weight: normal;
	letter-spacing:normal;
	line-height: 4.5em;
}

#region-branding2 {
	margin: 18px 5px;
}
  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }
  
  /* Search box */

#block-search-form {
	text-align:right;
	margin-top: 1.333em;
	white-space: nowrap;
}

#edit-search-block-form--2 textarea {
	font-family:Arial, Helvetica, sans-serif !important;
}

#block-search-form .form-actions input {
	margin: -3px 0 0 -5px;
	padding:0;
}

#edit-search-block-form--2 {
	height: 25px;
	width: 210px;
}

.form-item-custom-search-blocks-form-1 {
	float:left;
}

#custom-search-blocks-form-1 #edit-actions {
	float:left;
	margin-top: 30px;
}
  

  #content-area /* Wrapper for the actual page content */
  {
  }

  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 1em 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
	  clear:both;
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }


  #zone-footer
  {
	background: url("../images/shapes.gif") no-repeat scroll right top #A2CEDD;
    height: auto;
	padding-top: 70px;
	margin-top: 0;
	color: #000000;
  }

#zone-footer h2.block-title {
    background-image: url("../images/header2bgrnd.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 14px;
    overflow: visible;
    padding: 9px 0 12px 14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

#zone-footer .block {
    float: left;
    margin: 10px 0;
    width: 300px;
}	

img.iiedfooterlogo {
	float:right;
	margin-top: 10px;
}

#zone-footer ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#zone-footer li {
    border-bottom: 1px solid #B5DAFF;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#zone-footer a {
	color: #000000;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}

#zone-footer a:hover {
	color: #FFF;
	text-decoration:underline;
}

#block-menu-menu-footer-menu li.leaf {
	width: 43%;
	float:left;
	list-style: none;
	border-bottom: solid 1px #B5DAFF;
	line-height: 1.67em;
	padding: .5em 0;
	margin: 0 0 0 1em;
}



/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
	  clear:both;
  }

/** Drupal nodes **/
  
  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
	  font-size: 80%;
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    
  }


  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
	  vertical-align: text-top;
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  

#edit-search-theme-form-1 {
	height: 1.5em;
	width: 14em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #00ADCF;
    border-width: 2px
}

/* Tables */

table.sector, table.typology {
	margin:0 auto;
}

table.typology td {
	padding: 0;
}

table.typology {
	margin-top:2em;
	width: 182px;
	height: 140px;
}

table.sector {
	width: 300px;
	border: 0;
	margin-top: 1em;
	height: 250px;	
}

table.sector td {
	padding: 0;
	text-align:center;
	line-height: 1em;
	max-width: 75px;
}

table.sector td img {
	margin: 0 10px;
}

#worldmap td img {
	display: block;
}

/*** Latest news ***/


.views-field-view-node {
	float:right;
	clear:left;	
}

.view-display-id-page_1 .views-field-view-node {
	margin-top: -1.25em;
}

.page-news .views-field-view-node {
	margin-top: 0;
}

/* Read more links */
/*
.views-field-view-node a {
	color: #EC3400;
	text-decoration:none;
	padding-right:17px;
	background-image: url(/sites/ssm.iiedlist.org/files/images/readmore.gif);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: right center;
}
*/
.views-field-view-node a {
	color: #333333;
	text-decoration:none;
}

.pane-news {
	padding: 10px;
}


/*** Blog, publication and profile node titles ***/


#region-sidebar-second .view-id-blogs .views-field-title, .view-id-Library .views-field-title, #region-sidebar-second h2.node-title, .view-id-news .views-field-title		 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 16px !important;
	line-height: 1.33em;
	border: none;
	display:block;
	margin-bottom: 0.33em;
}

#region-sidebar-second .view-id-blogs .views-field-title, #region-sidebar-second h2.node-title, .view-id-news .views-field-title		 {
	margin-top:0.67em;
}

#region-content .view-id-blogs h2.node-title, #region-content .views-field-title, #region-content h2.node-title {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 23px;
	line-height: 1.33em;
	border: none;
	margin-top:0em;
}

/*** Library pubs ***/
#block-views-Library-block_1 {
	background-color: #ECECEC;
}

.view-id-Library .views-field-field-image, .node-pubitem .field-type-image {
	float:left;
	padding: 0 5px 5px 0;
}

.view-id-Library .views-field-body p {
    font-size: 90%;
    margin-top: 0.5em;
}

.view-id-Library td, .view-id-news td {
	padding: 10px;
	width: 50%;
	vertical-align:top;
	border: 14px solid #FFF;
}	

.view-id-Library td span, .view-id-news td span {
	display:block;
}

.caption {
	font-size: 90%;
}

/*** Publications carousel ***/

.jcarousel-skin-default .jcarousel-container-horizontal {
	width: 300px;
	text-align:left;
	padding: 0;
	background:none;
	border: none;
	height: 150px;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
    height: 150px;
	list-style:none;
	width: 300px;
}

.jcarousel-skin-default .jcarousel-item {
 	background-color: #FFFFFF;
    font-size: 90%;
    margin: 0;
    padding: 10px 0;
	border:none;
	height: 150px;
	line-height: 1.67em;
}

.jcarousel-skin-default .jcarousel-item .views-field-field-pubdate-1 {
	width: auto;
	color: #A5A5A5;
	line-height: 1.67em;
	margin-top: 1em;
}

.jcarousel-skin-default .jcarousel-item .views-field-title a, .block-views-news-block-1 .views-field-title
a {
	font-size: 16px;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height: 1em;
}

.jcarousel-skin-default .jcarousel-item .views-field-field-image  {
	float:right;
}

.jcarousel-skin-default .jcarousel-navigation {
	margin: .5em 0;
}

.jcarousel-skin-default .jcarousel-navigation li a {
	border-radius: 6px;
	font-size: 0;
	margin: 0 2px;
	display: block;
	float:left;
	width: 12px;
	height: 12px;
	line-height: 1em;
}

.jcarousel-skin-default .jcarousel-navigation li a {
	background-color: #939A31;
	color: #939A31;	
}

.jcarousel-skin-default .jcarousel-navigation li.active a, .jcarousel-skin-default .jcarousel-navigation li a:hover {
	background-color: #00AFDB;
	color: #00AFDB;
	text-decoration: none;
}

.jcarousel-skin-default .jcarousel-next-horizontal, .jcarousel-skin-default .jcarousel-prev-horizontal {
	display:none;
}


/* links */

.more-link {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:right;
	line-height: 2em;
	clear: left;
	margin: 10px 0;
	border-top: solid 1px #939A31;
}

.view-display-id-block_2 .more-link {
	margin-top: 2em;
}

.view-id-blogs.view-display-id-block .views-field-body a:link, .view-id-blogs.view-display-id-block .views-field-body a:visited {
	color: #6D6D6D;
}


/*** Google map on contact page ***/
.page-contact #content-inner {
	width: 420px;
}

.page-contact #sidebar-right {
    margin-left: 440px;
}

/*** Profiles and Pubs ***/

.node-profile .field-item, .node-type-pubitem .field-item {
	margin: 1em 0;
}

.field-type-taxonomy-term-reference {
	font-size: 85%;
}

.view-display-id-block_1 .views-field-field-image, .view-id-blogs .views-field-field-image {
	float:right;
	padding: 6px 0 0 6px;
}

/*** Lightbox images ***/
img.lightbox {
	cursor:url(/sites/ssm.iiedlist.org/themes/ssm/images/zoom.cur), pointer;
}

/** Mechanism categories ***/

div.mech {
	clear: both;
}

li.tid11, li.tid12, li.tid13, li.tid14, li.tid11 a, li.tid12 a, li.tid13 a, li.tid14 a {
	color:#FFF !important;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
	text-transform:uppercase;
	text-decoration: none;
	line-height: 2.5em;
}

div.mech.Category li li, div.mech.Category li li a {
	color:#FFF !important;
	font-size: 14px;
	text-align:left !important;
	font-weight: normal !important;
	text-decoration: none;
	text-transform:none;
	line-height: 1.25em;
	list-style: disc;
}

div.mech.Category li a:hover {
	text-decoration:underline;
}

div.mech.Category ul {
	display:block;
	margin-left: 30px;
}

div.mech.Category ul ul {
	margin-left: 0;
}

li.tid11, li.tid12, li.tid13, li.tid14 {
	display: block;
	border-radius: 35px;
	margin: 10px;
	float: left;
	width: 250px;
	height: 150px;
	padding: 5px 10px 20px 0;
}

li.tid11 {
	background-color:#003663;
}

li.tid12 {
	background-color:#8D9938;
}

li.tid13 {
	background-color:#DC3200;
}

li.tid14 {
	background-color:#4DAECF;
	clear: left;
}

div.mech.Category ul li ul {
	width:auto;
	height:auto;
	float:none;
	border-radius: 0;
}

div.mech.Sector li a {
	display:block;
	text-align: center;
	padding-top:60px;
	width: 150px;
	float:left;
}

div.mech.Sector li {
	background: no-repeat center 10px;
	display:block;
	height: 100px;
	text-align: center;
	width: 150px;
	float:left;
	border-radius: 10px;
	line-height: 3em;
}

div.mech.Region {
	clear:left;
	padding-top: 2em;
}

#worldmap {
	float:right;
	margin-right:30px;
}

#worldmap table, table.typology, table.sector {
	border:none;
}

#worldmap table td {
	margin: 0;
	padding: 0;
}


#block-block-13, #block-block-14 {
	width: 300px;
	float:left;
	margin-right: 10px;
}

/*** new profiles ***/

.views-row {
	padding-bottom: 1em;
}


.section-about .views-row {
	margin-bottom: 2em;
}

.node-type-profile .field-label-above {
	margin: 1em 0 0 0;
}

/* Views titles and grids */

.views-field-title {
	/* font-size: 110%; */
}

table.views-view-grid {
	width:100%;
}

/* Suppress link underlining on home page sidebar */

#sidebar-right .views-field-title a:link, #sidebar-right .views-field-title a:visited {
	text-decoration:none;
}

#sidebar-right .views-field-title a:hover, #sidebar-right .views-field-title a:active{
	text-decoration:underline;
}

/*** Disclaimer block ***/

#block-block-7 {
	font-size: 90%;
}

/*** Print-friendly links ***/

.print-link {
	margin-top: -1em;
}

/*** Research highlights ***/

div.box {
	float:left;
	width: 45%;
	background-color: #BCD0E1;
	padding: 10px;
	margin: 10px;
	height: 40em;
	overflow:auto;
}	

.field-name-upload {
	clear:both;
}


/*** print friendly links ***/

.print_html {
	margin: 1em 0 0 0;
	line-height: 2em;
}

/*** Mailchimp block ***/

#block-block-9 {
	float:right;
	margin: -77px 23px 0 0;
}

#block-block-9 a {
	color: #939A31 !important;
	font-weight:bold;
}

.field-name-field-url {
	border: solid 1px gray;
	padding: 5px;
	margin: 10px 0;
}

/* Database by region block */

#block-block-15 ul li {
	margin-left: 1.2em;
}

#block-ds-extras-right-column p {
	margin-top: 0;
}

/* Editor content views */

.view-user-content .views-field-title {
	font-size: 15px !important;
}

/* Cookie compliance buttons */

#sliding-popup .popup-content #popup-text {
  font-size: 15px;
  font-weight: normal;
}

#sliding-popup .popup-content #popup-buttons button {
   background: #585858;
   color: white;
   border: none;
   border-radius: 0;
   text-shadow: none;
   box-shadow: none;
   padding:5px 7px;
   font-size: 15px;
   font-weight: normal;
}

#sliding-popup .popup-content #popup-buttons button:hover {
  background: #dfdfdf;
  color: #777777;
}