/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#branding,
#name-and-slogan {
  background: #4c7a34 url("../images/rhino-gorilla.png") 10px center no-repeat;
}

#site-name {
  line-height: 4em;
  background: url("../images/elephant-tigress.png") right center no-repeat;
}

.logoright {
  float: right;
}

/* Cookie compliance banner */
#sliding-popup .popup-content {
  max-width: 90%;
}
#sliding-popup .popup-content #popup-text {
  max-width: 75%;
  line-height: 1.5em;
}
#sliding-popup .popup-content #popup-buttons {
  margin-bottom: 0;
  max-width: 25%;
}
#sliding-popup .popup-content #popup-buttons button {
  margin-top: .5em;
}
